In [1]:
import pandas as pd
from itertools import combinations
from tqdm.notebook import tqdm

df = pd.read_csv('./Groceries_dataset.csv')
df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [2]:
itemsets = [gr['itemDescription'].tolist() for _, gr in df.groupby(['Member_number', 'Date'])]
members = [(gr['Member_number'].tolist()[0], gr['Date'].tolist()[0]) for _, gr in df.groupby(['Member_number', 'Date'])]
trans = { 'tid': members, 'it': itemsets }
trans = pd.DataFrame(trans)
trans = trans.sample(10)
trans

                      tid                                                 it
1069   (1294, 05-07-2014)            [hygiene articles, semi-finished bread]
14862  (4967, 23-09-2015)  [pip fruit, frankfurter, other vegetables, nap...
1884   (1512, 20-09-2015)                           [chicken, domestic eggs]
1048   (1287, 28-01-2015)                           [frankfurter, pip fruit]
2196   (1603, 07-09-2015)    [whole milk, frankfurter, domestic eggs, flour]
9027   (3435, 22-01-2014)                  [other vegetables, bottled water]
4086   (2092, 01-04-2014)            [salty snack, salty snack, canned fish]
12921  (4455, 26-12-2015)                   [sausage, Instant food products]
14108  (4762, 25-06-2014)                        [pip fruit, onions, yogurt]
7874   (3113, 06-01-2014)                [hygiene articles, cling film/bags]

In [3]:
items = []
its = trans['it'].tolist()
for it in its: items += it
items = list(set(items))

itemsets = []
for length in tqdm(range(1, len(items))):
    combs = [set(comb) for comb in list(combinations(items, length))]
    itemsets += combs

len(itemsets)

  0%|          | 0/17 [00:00<?, ?it/s]

262142

In [4]:
MIN_SUPPORT = 2

freq_itemsets = []

for itemset in tqdm(itemsets):
    sup = trans['it'].apply(lambda x: itemset < set(x)).to_list()
    sup = sum(sup)
    if sup >= MIN_SUPPORT: freq_itemsets.append((itemset, sup))

freq_itemsets

  0%|          | 0/262142 [00:00<?, ?it/s]

[({'frankfurter'}, 3),
 ({'domestic eggs'}, 2),
 ({'hygiene articles'}, 2),
 ({'pip fruit'}, 3),
 ({'other vegetables'}, 2)]